body{background-color: #087788}
article{width:700px;margin: 0 auto;padding: 20px 20px 50px 20px;background:url("../imges/bei.jpg")}

/*header*/
article header{overflow:hidden;margin-bottom: 20px}
.t1{float: left;width: 200px;margin-left: 70px;margin-top: 40px}
.x1{float: left;margin-top: 20px;margin-left: 10px}
header p{font-size: 14px;line-height: 24px}
header img{display: block;width: 120px;height: 120px;border-radius: 50%;box-shadow: 0 0 4px 4px #087788;
}
.bb{font-size: 16px;padding-left: 530px;color: white}
.b1{font-weight: bold;color: #494949;border-bottom: 1px dashed #886c73;
}
header h2{font-size: 20px;padding-left: 548px;color: white;padding-top: 7px;text-shadow:2px -1px 0 #15b1c3,3px -2px 0 #95c1c3
}

/*article*/
article h3{background: url("../imges/tt.jpg");width: 124px;height: 31px;font-size: 18px;color: white;/*文字在背景中居中，行高等于图片高度——*/text-align: center;line-height: 31px}
article p{font-size: 14px}


/*d1*/
.d1{height: 70px;padding:0 50px 0 50px}
.d1 p{font-weight: bold}
.bt1{border-bottom: 2px solid #15b1c3;text-shadow:3px 0 0 #087788
}
.x2{float: left;width: 100px;padding-top: 10px;padding-left: 8px}
.x3{float: left;width: 100px;padding-left: 150px;padding-top: 10px}
.x4{float: right;width: 100px;padding-top: 10px}

/*d2*/
.d2{padding:0 50px 0 50px}
.bt2{border-bottom: 2px solid #15b1c3;text-shadow:3px 0 0 #087788}
.x5{line-height: 30px;padding-top: 3px}

/*d3*/
.d3{padding:0 50px 0 50px}
.bt3{border-bottom: 2px solid #15b1c3;text-shadow:3px 0 0 #087788}
.s{font-weight: bold;padding:10px 0 4px 0}
.x6{line-height: 30px}

/*d4*/
.d4{padding:0 50px 0 50px}
.bt4{border-bottom: 2px solid #15b1c3;text-shadow:3px 0 0 #087788}
.x7{line-height: 30px;padding-top: 4px}

/*d5*/
.d5{padding:0 50px 0 50px}
.bt5{border-bottom: 2px solid #15b1c3;text-shadow:3px 0 0 #087788}
.x8{line-height: 30px;padding-top: 4px}

@media all and (max-width: 640px){
    article{width: 100%;box-sizing: border-box}
    .bb{padding: 0;color: #087788}
    header h2{padding: 0;color: #087788}
    .x3{float: none}
    .d2{margin-top: 48px}
    .x4{float: none;padding-left: 8px}
    .t1{padding-left: 30px}
    .b1{margin-left: 65px}
    .d1,.d2,.d3,.d4,.d5{padding: 0 10px 0 10px}


}